@import "variables";
@import "mixin";

body {
  background-color: $bgcolor;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color;
  padding:  10px;
}
.logo-name {
  @include textStyle(36px, 900, $secondry-color);
}

.hamburger-menu {
  display: none;
  align-items: center;
  flex-direction: column;

  span {
    width: 2.5rem;
    height: 0.1rem;
    background-color: $secondry-color;
    margin: 3px;
  }
}

.navbar {
  @include textStyle(1.8rem, 700, $secondry-color);
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  ul {
    margin: 0 1.5rem;
    transition: all 400ms;
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  a {
    text-decoration: none;
    cursor: pointer;
    padding: 0 1rem;
    @include textStyle(1.2rem, bold, $secondry-color);
    transition: all 400ms ease-in;
    &:hover {
      @include textStyle(1.3rem, bold, $textcolor);
    }
  }

  &-img {
    cursor: pointer;
    margin: 0 1.5rem;

    width: 2.5rem;
    height: 2.5rem;
  }
}

.section {
  margin: 2rem 3rem;
  background-color: $bgcolor;
  display: flex;

  .aside {
    width: 25%;
    @include bodyStyle;
    @include boxStyle;
    flex-direction: column;
    margin-right: 25px;

    .course {
      @include boxStyle;
      height: 110px;
      line-height: 110px;
      margin: 20px 10px;
      width: 100%;
      text-align: center;
      background-color: $primary-color;
      @include textStyle(1.2rem, bold, $secondry-color);
    }
  }
  .main {
    width: 75%;
    @include bodyStyle;
    @include boxStyle;
    flex-direction: column;
    justify-content: center;

    &-icon {
      width: 200px;
      height: 180px;
      border-radius: 10px;
    }

    &__title{
      @include textStyle(32px , 800 , $textcolor);
      margin: 2rem 0 3rem;
    }
    &__text{
      @include textStyle(28px , 500 , $textcolor);

    }
  }
}

.cards{
  width: calc(100% - 6rem);
  margin: 1rem  auto;
  background-color: $bgcolor;
  display: grid;
  grid-template-columns:repeat(4,1fr);
  grid-template-rows: auto;
  gap: 1rem;
}
.card{
@include boxStyle;
background-color: $secondry-color;

padding: 0;
flex-direction: column;
  &__img{
    width: 100%;
    height: 250px;
  }

  &__text{
    padding: 1rem;
    line-height: 1.5rem;
  }
}

footer{
display: flex;
align-items: center;
margin: 2rem 0;
padding: 2rem 3rem;
background-color: $primary-color;
.summary{
width: 50%;
p {
  text-align: justify;
  @include textStyle(1.2rem, 100, $secondry-color);
}

}
.links{
  padding: 0 10px;
  ul{
    list-style-type: none;
  }
  a{
    display: inline-block;
    text-decoration: none;
    color: $secondry-color;
    @include textStyle(18px , 700, $secondry-color);
    transition: all 400ms ease-in;
    margin-bottom: 10px;
   
  }
  a:hover {
    @include textStyle(1.3rem, bold, $textcolor);
  }
}
}




//////////////////////////////////////////// media-query  /////////////////////////
@include mediaquery(M) {
  .navbar {
    display: none;
    
  }
  .hamburger-menu {
    display: flex;
  }
  .logo-name {
    font-size: 18px;
  }

  .section{
    flex-direction: column-reverse;
  gap: 1rem;
  
  .aside{
    width: 100%;
  }
  .main{
    width: 100%;
    height: 500px;

    &__text{
      font-size: 19px;
    }
  }

}

.cards{
  grid-template-columns:1fr;
  margin: 1rem auto;

}
footer {
  flex-direction: column;

  .summary {
      width: 100%;
      margin-bottom: 30px;
  }

  .links {
      width: 100%;
      padding: 0;
      
  }
}
}

@include mediaquery(L) {
  .hamburger-menu {
    display: none;
  }
  .logo-name {
    font-size: 28px;
  }
  .cards{
    grid-template-columns:repeat(2,1fr);
    margin: 1rem auto;
    gap: 50px;
  
  }
}
